@media (max-width: 479px)
{
    /*-------------------
        Global styles
    -------------------*/



    /*--------------
        Fancybox
    --------------*/
    .fancybox__slide
    {
        padding: 16px;
    }



    /*-----------------
        Mob. header
    -----------------*/
    .mob_header
    {
        position: relative;

        padding: 20px 0 15px;

        background: #fff;
    }


    .mob_header .logo img
    {
        width: 180px;
    }


    .mob_header .phone
    {
        display: none;
    }



    /*---------------
        Page head
    ---------------*/
    .page_head
    {
        margin-bottom: 16px;
        padding-bottom: 388px;
    }


    .page_head.mob_min_pad:after
    {
        transform: rotate(-8deg);
    }


    .page_title
    {
        width: 100%;
    }



    .page_head .contacts
    {
        margin-bottom: 32px;
    }

    .page_head .contacts > * + *
    {
        margin-top: 10px;
    }


    .page_head .notice
    {
        margin-top: 20px;
    }

    .page_head .notice .text
    {
        padding: 8px 12px;
    }


    .page_head .img
    {
        bottom: 12px;
    }



    /*------------------
        Form elements
    ------------------*/
    .form .line
    {
        margin-bottom: 36px;
    }


    .form .input
    {
        font-size: 18px;
    }

    .form textarea
    {
        font-size: 18px;
        line-height: 24px;

        height: 111px;
    }


    .form .submit_btn
    {
        font-size: 22px;
        line-height: 26px;

        width: 100%;
    }


    .form .agree
    {
        font-size: 14px;
        line-height: 18px;
    }


    .form .bottom
    {
        display: block;

        padding: 0;
    }

    .form .bottom .agree
    {
        margin: 16px 0 0;
    }


    .form .notice .text
    {
        font-size: 18px;
        line-height: 24px;

        padding: 8px 12px;
    }



    /*----------------
        Block head
    ----------------*/
    .block_head
    {
        margin-bottom: 28px;
    }


    .block_head .desc
    {
        font-size: 18px;
        line-height: 24px;

        margin-top: 24px !important;
    }



    /*----------------
        Typography
    ----------------*/
    .text_block
    {
        font-size: 18px;
        line-height: 24px;
    }


    .text_block > *,
    .text_block .cols .col > *
    {
        margin-bottom: 24px;
    }


    .text_block ul li:before
    {
        top: 11px;
    }


    .text_block figcaption
    {
        margin-top: 10px;

        text-align: center;
    }



    /*------------
        Result
    ------------*/
    .result .row > *
    {
        width: 100%;
    }


    .result .item
    {
        font-size: 18px;
        line-height: 24px;

        display: flex;

        padding: 20px 24px;

        text-align: left;

        justify-content: space-between;
        align-items: center;
        align-content: center;
        flex-wrap: wrap;
    }

    .result .item:nth-child(4n+2),
    .result .item:nth-child(4n+3)
    {
        background: #64bc62;
    }

    .result .item:nth-child(2n)
    {
        background: #3c8f5d;
    }


    .result .item .thumb
    {
        width: 196px;
        height: 164px;
        margin: 0 0 0 -48px;
    }

    .result .item:nth-child(2n) .thumb
    {
        margin: 0 -48px 0 0;

        order: 2;
    }

    .result .item .thumb + *
    {
        width: calc(100% - 176px);
    }


    .result .order
    {
        margin-top: 32px;
        padding: 0 24px;
    }

    .result .order .btn
    {
        width: 100%;
    }



    /*-------------
        Reviews
    -------------*/
    .reviews::before
    {
        height: calc(100% + 68px);

        clip-path: polygon(0 5%, 100% 0, 100% 100%, 0% 100%);
    }


    .reviews .swiper-container
    {
        padding: 0 24px;
    }

    .reviews .swiper-button-prev
    {
        left: -12px;
    }

    .reviews .swiper-button-next
    {
        right: -12px;
    }


    .reviews .data
    {
        height: auto !important;
    }



    /*----------------
        Advantages
    ----------------*/
    .advantages .item + .item
    {
        margin-top: 36px;
    }

    .advantages .item
    {
        font-size: 18px;
        line-height: 24px;
    }



    /*----------------
        About head
    ----------------*/
    .about_head
    {
        padding-top: 31px;
        padding-bottom: 404px;

        background: rgba(242, 247, 255, .7);

        backdrop-filter: blur(100px);
        clip-path: polygon(0 0, 100% 0, 100% calc(100% - 48px), 0% 100%);
    }


    .about_head .info
    {
        margin-top: 46px;
    }


    .about_head .item
    {
        margin-top: 32px;
    }


    .about_head .item .name
    {
        font-size: 22px;
        line-height: 26px;
    }

    .about_head .desc
    {
        font-size: 18px;
        line-height: 24px;
    }


    .about_head .img
    {
        bottom: 10px;
    }



    /*---------------
        Education
    ---------------*/
    .education .item
    {
        font-size: 18px;
        line-height: 24px;
    }

    .education .item + .item
    {
        margin-top: 28px;
    }



    /*------------
        Prices
    ------------*/
    .prices
    {
        margin-top: 32px;
        margin-bottom: 92px;
    }


    .prices table td
    {
        font-size: 18px;
        line-height: 24px;
    }

    .prices table td + td
    {
        padding-left: 0;
    }


    .prices table td .icon
    {
        top: -12px;
        left: 0;

        margin-top: -24px;
    }



    /*-------------
        Reviews
    -------------*/
    .reviews:before
    {
        height: calc(100% + 80px);
    }

    .reviews .text,
    .reviews .link,
    .reviews .author
    {
        font-size: 18px;
        line-height: 24px;
    }



    /*------------------
        Service info
    ------------------*/
    .service_info
    {
        padding: 0;
    }



    /*----------------
        Order form
    ----------------*/
    .order_form
    {
        padding: 24px 0 80px;
    }



    /*--------------
        Map wrap
    --------------*/
    .map_wrap
    {
        height: 754px;
        margin-top: -78px;
    }



    /*--------------
        Articles
    --------------*/
    .articles .title
    {
        text-align: center;
    }


    .articles .grid .name
    {
        width: 366px;
    }

    .articles .grid .name br
    {
        display: none;
    }



    /*-----------
        Certs
    -----------*/
    .certs
    {
        margin-bottom: 52px;
    }


    .certs .swiper-container
    {
        padding: 0 24px;
    }


    .certs .swiper-button-prev
    {
        left: -12px;
    }

    .certs .swiper-button-next
    {
        right: -12px;
    }



    /*-----------
        Stats
    -----------*/
    .stats .row
    {
        margin-bottom: -52px;
    }

    .stats .row > *
    {
        margin-bottom: 52px;
    }



    /*-----------
        Share
    -----------*/
    .share .title
    {
        text-align: center;
    }


    .share .items
    {
        justify-content: space-between;
    }

    .share .items a + a
    {
        margin-left: 0;
    }



    /*-------------------
        Contacts info
    -------------------*/
    .contacts_info .item .name
    {
        font-size: 18px;
        line-height: 22px;
    }


    .contacts_info .item .val
    {
        font-size: 18px;
        line-height: 24px;
    }


    .contacts_info .item .desc
    {
        font-size: 18px;
        line-height: 24px;
    }



    /*------------
        Footer
    ------------*/
    footer
    {
        padding-bottom: 144px;
    }



    footer .col_left
    {
        width: 100%;
    }


    footer .logo img
    {
        width: 247px;
    }


    footer .socials
    {
        display: none;
    }


    footer .copyright
    {
        font-size: 16px;
        line-height: 20px;

        position: absolute;
        bottom: 59px;
        left: 0;

        width: 339px;
        padding: 0 24px;
    }



    footer .links
    {
        width: 100%;
        margin-top: 42px;
    }


    footer .links .items
    {
        width: 100%;

        column-gap: 24px;
        column-count: 2;
    }

    footer .links .items a
    {
        font-size: 16px;
        line-height: 24px;
    }



    footer .contacts
    {
        font-size: 16px;
        line-height: 21px;

        margin-top: 42px;
    }

    footer .contacts .cols
    {
        display: block;
    }

    footer .contacts .col
    {
        width: 100%;
    }

    footer .contacts .col + .col
    {
        margin-top: 18px;
        margin-left: 0;
    }


    footer .contacts .col + .col,
    footer .contacts .skype,
    footer .contacts .phone,
    footer .contacts .time
    {
        margin-top: 18px;
    }


    footer .contacts .location br
    {
        display: block;
    }



    footer .mob_bg
    {
        display: block;
    }



    /*-----------
        PopUp
    -----------*/
}
