@media print,
(max-width: 767px)
{
    /*-------------------
        Global styles
    -------------------*/



    /*--------------
        Fancybox
    --------------*/
    .fancybox__slide
    {
        padding: 20px;
    }



    /*----------------
        Pagination
    ----------------*/
    .pagination
    {
        justify-content: center;
    }



    /*-----------------
        Mob. header
    -----------------*/
    .mob_header
    {
        position: relative;
    }


    .mob_header .logo img
    {
        width: 164px;
    }


    .mob_header .email
    {
        display: none;
    }


    .mob_header .mob_menu_btn
    {
        margin-left: 24px;
    }



    /*---------------
        Page head
    ---------------*/
    .page_head
    {
        overflow: hidden;

        padding-top: 31px;
        padding-bottom: 380px;

        background: rgba(242, 247, 255, .7);

                clip-path: polygon(0 0, 100% 0, 100% calc(100% - 60px), 0% 100%);
        -webkit-clip-path: polygon(0 0, 100% 0, 100% calc(100% - 60px), 0% 100%);
    }

    .page_head.big_pad
    {
        padding-bottom: 392px;
    }


    .page_head.mob_min_pad
    {
        margin-bottom: 46px;
        padding-bottom: 106px;
    }

    .page_head.mob_min_pad:after
    {
        position: absolute;
        z-index: 5;
        bottom: 34px;
        left: 0;

        display: block;

        width: 110%;
        height: 30px;

        content: '';
        transform: rotate(-7deg);

        background: linear-gradient(268.75deg, #3c8f5d 42.68%, rgba(60, 143, 93, 0) 98.57%);
    }


    .page_head .bg,
    .page_head .bg2
    {
        display: none;
    }


    .page_title
    {
        width: 100%;
        margin-bottom: 0;
    }

    .page_title.mob_full_w
    {
        width: 100%;
    }

    .page_title br
    {
        display: none;
    }


    .breadcrumbs
    {
        display: none;
    }


    .page_head .contacts
    {
        margin-top: 40px;
        margin-bottom: 40px;
    }


    .page_head .img
    {
        right: -448px;
        bottom: 14px;
    }



    /*----------------
        Block head
    ----------------*/
    .block_head
    {
        margin-bottom: 24px;
    }


    .block_head .title br
    {
        display: none;
    }


    .block_head .desc
    {
        font-size: 16px;
        line-height: 22px;

        margin-top: 20px;
    }



    /*------------------
        Form elements
    ------------------*/



    /*----------------
        Typography
    ----------------*/
    .text_block .columns
    {
        column-gap: 0;
        column-count: 1;
    }


    .text_block .cols .col
    {
        width: 100%;
    }

    .text_block .cols .col + .col
    {
        margin-top: 20px;
    }


    .text_block ul li:before
    {
        top: 9px;
    }


    .text_block .title
    {
        font-size: 24px;
        line-height: 29px;

        margin-bottom: 20px;
    }



    /*-------------------
        First section
    -------------------*/
    .first_section
    {
        padding-top: 31px;
        padding-bottom: 416px;

        clip-path: polygon(0 0, 100% 0, 100% calc(100% - 60px), 0% 100%);
    }


    .first_section .text_block
    {
        margin-top: 32px;
    }


    .first_section .link
    {
        color: #64bc62;
        font-size: 22px;
        line-height: 26px;

        width: 100%;

        background: #0000;
    }


    .first_section .img
    {
        right: -448px;
        bottom: 14px;
    }



    /*---------
        Why
    ---------*/
    .why
    {
        margin-bottom: 60px;
    }


    .why .row
    {
        padding-top: 12px;
    }

    .why .row + .row
    {
        margin-top: 52px;
        padding-top: 0;
    }


    .why .row .bg
    {
        display: none;
    }


    .why .image
    {
        margin-right: auto;
        margin-bottom: 28px;
        margin-left: auto;
    }


    .why .data
    {
        width: 100%;
        padding: 0;

        order: 2;
    }

    .why .data .title
    {
        font-size: 24px;
        line-height: 29px;

        margin-bottom: 20px;
    }

    .why .data .title br
    {
        display: none;
    }


    .why .data .link
    {
        font-size: 22px;
        line-height: 26px;

        width: 100%;
    }



    /*------------
        Result
    ------------*/
    .result .row > *
    {
        width: 50%;
    }


    .result .item
    {
        font-size: 16px;
        line-height: 22px;

        padding: 24px 20px;
    }

    .result .item:nth-child(2n)
    {
        background: #64bc62;
    }

    .result .item:nth-child(4n+2),
    .result .item:nth-child(4n+3)
    {
        background: #3c8f5d;
    }

    .result .item .thumb
    {
        height: 104px;
        margin-bottom: 20px;
    }


    .result .order .btn
    {
        font-size: 22px;
        line-height: 26px;
    }



    /*----------------
        Advantages
    ----------------*/
    .advantages .item > *,
    .advantages .item:nth-child(2n) > *
    {
        padding-top: 68px;
        padding-left: 10px;
    }


    .advantages .item > *:before,
    .advantages .item:nth-child(2n) > *:before
    {
        font-size: 36px;
        line-height: 50px;

        top: 2px;
        bottom: auto;
        left: 0;
    }

    .advantages .item > *:after,
    .advantages .item:nth-child(2n) > *:after
    {
        top: 0;
        bottom: auto;
        left: 10px;

        width: 48px;
        height: 50px;

        background-size: 100% 100%;
    }



    /*------------
        Prices
    ------------*/
    .prices
    {
        margin-top: 32px;
        margin-bottom: 92px;
    }


    .prices .data
    {
        width: calc(100% + 48px);
        max-width: calc(100% + 48px);
        margin-right: -24px;
        margin-left: -24px;
    }


    .prices table td
    {
        font-size: 16px;
        line-height: 22px;
    }

    .prices table td .icon
    {
        position: relative;
        left: 12px;
    }



    /*-------------
        Reviews
    -------------*/
    .reviews
    {
        padding-bottom: 180px;
    }

    .reviews:before
    {
        height: calc(100% + 96px);

        clip-path: polygon(0 10%, 100% 0, 100% 100%, 0% 100%);
    }


    .reviews .img
    {
        top: 92px;
        right: -80px;
    }


    .reviews .text,
    .reviews .link
    {
        font-size: 16px;
        line-height: 22px;
    }

    .reviews .text
    {
        text-align: left;
    }


    .reviews .all_link a
    {
        font-size: 22px;
        line-height: 26px;

        width: 100%;
    }



    /*-----------------
        Main slider
    -----------------*/
    .services .row
    {
        margin-bottom: -42px;
    }

    .services .row > *
    {
        margin-bottom: 42px;
    }



    .services .service,
    .services .service:hover
    {
        padding: 0;

        background: none;
        box-shadow: none;
    }


    .services .service .info
    {
        width: 100%;

        order: 2;
    }


    .services .service .name
    {
        font-size: 24px;
        line-height: 29px;
    }

    .services .service .name br
    {
        display: none;
    }


    .services .service .desc
    {
        font-size: 18px;
        line-height: 24px;
    }


    .services .service .time,
    .services .service .price
    {
        font-size: 18px;
        line-height: 100%;

        margin-top: 20px;
    }

    .services .service .price
    {
        margin-left: 28px;
    }


    .services .service .thumb
    {
        width: 100%;
        height: 378px;
        margin-bottom: 25px;
    }

    .services .service .thumb img
    {
        max-height: 100%;
    }



    /*-----------------
        Quote block
    -----------------*/
    .quote_block
    {
        min-height: 0;
        padding: 100px 0 176px;

        background: #f9fafc;

        clip-path: polygon(0 60px, 100% 0, 100% 100%, 0% 100%);
    }

    .quote_block.mob_margin
    {
        margin-top: 32px;
    }

    .order_form + .quote_block
    {
        margin-top: -46px;
    }


    .quote_block .data
    {
        width: 100%;
    }

    .quote_block .data.margin
    {
        margin: 0;
    }

    .quote_block .data br
    {
        display: none;
    }


    .quote_block .bg,
    .quote_block .bg2
    {
        display: none;
    }



    /*------------------
        Service info
    ------------------*/
    .service_info .section .title
    {
        font-size: 22px;
        line-height: 26px;

        text-align: center;
    }


    .service_info .section .name
    {
        color: #000;
        font-weight: 700;
    }

    .service_info .section .name,
    .service_info .section .name b
    {
        font-size: 18px;
    }


    .service_info .bottom
    {
        font-size: 24px;
        line-height: 32px;
    }



    /*----------------
        Order form
    ----------------*/
    .order_form
    {
        margin-bottom: 0;
        padding: 40px 0 80px;

        background: #f9fafc;

        clip-path: polygon(0 0, 100% 0, 100% calc(100% - 60px), 0% 100%);
    }


    .order_form .bg
    {
        display: none;
    }


    .order_form .img
    {
        display: none;
    }



    /*--------------
        Map wrap
    --------------*/
    .map_wrap
    {
        margin-top: -60px;
        margin-bottom: 0;
    }



    /*--------------
        Articles
    --------------*/
    .articles .head .links
    {
        width: calc(100% + 32px);
    }


    .articles .search
    {
        display: none;

        width: 100%;
        margin-top: 16px;
    }


    .articles .row
    {
        margin-bottom: -44px;
        margin-left: 0;
    }

    .articles .row > *
    {
        width: 100%;
        margin-bottom: 44px;
        margin-left: 0;
    }


    .articles .grid
    {
        margin-left: 0;
    }

    .articles .grid > *,
    .articles .grid > *.big
    {
        width: 100%;
        margin-left: 0;
    }

    .articles .grid + .row
    {
        margin-top: 20px;
    }



    /*----------------
        About head
    ----------------*/
    .about_head
    {
        overflow: hidden;

        margin-bottom: 46px;
        padding-top: 31px;
        padding-bottom: 312px;

        background: rgba(242, 247, 255, .7);

        clip-path: polygon(0 0, 100% 0, 100% calc(100% - 60px), 0% 100%);
        backdrop-filter: blur(100px);
    }


    .about_head .bg
    {
        display: none;
    }


    .about_head .img
    {
        right: -448px;
        bottom: 14px;
    }



    /*-----------
        Certs
    -----------*/
    .certs .swiper-container
    {
        padding: 0 40px;
    }



    /*---------------
        Education
    ---------------*/
    .education .block_title
    {
        font-size: 24px;
        line-height: 29px;
    }



    /*-----------
        Stats
    -----------*/
    .stats
    {
        margin-bottom: 46px;
        padding: 100px 0 55px;

        background: #f9fafc;

        clip-path: polygon(0 60px, 100% 0, 100% 100%, 0% 100%);
    }


    .stats .bg
    {
        display: none;
    }


    .stats .row
    {
        margin-bottom: -24px;
        margin-left: 0;
    }

    .stats .row > *
    {
        width: 100%;
        max-width: 100%;
        margin-bottom: 24px;
        margin-left: 0;
    }


    .stats .item
    {
        text-align: center;
    }



    /*-------------
        Methods
    -------------*/
    .methods .row
    {
        margin-left: 0;
    }

    .methods .row > *,
    .methods .row > *:nth-child(1),
    .methods .row > *:nth-child(2),
    .methods .row > *:nth-child(3)
    {
        width: 100%;
        max-width: 100%;
        margin-left: 0;
    }


    .methods .item .name
    {
        font-size: 24px;
        line-height: 29px;

        min-height: 0;
        margin-bottom: 20px;
    }



    /*--------------------
        Important know
    --------------------*/
    .important_know
    {
        padding-top: 40px;
    }



    /*-------------------
        Contacts info
    -------------------*/
    .contacts_info .item .val
    {
        font-size: 16px;
        line-height: 22px;
    }

    .contacts_info .item .desc
    {
        font-size: 16px;
        line-height: 22px;
    }



    /*------------
        Footer
    ------------*/
    footer
    {
        margin-top: 132px;
    }

    footer.no_margin
    {
        margin-top: 0;
    }


    footer .action
    {
        width: calc(100% - 36px);
        margin-top: -132px;
        margin-bottom: 45px;
        padding: 32px 34px 25px;
    }

    footer .action .info
    {
        width: 100%;

        text-align: center;
    }

    footer .action .desc
    {
        margin-top: 26px;
    }

    footer .action .btn
    {
        font-size: 22px;
        line-height: 26px;

        width: 100%;
        margin-top: 28px;
    }



    footer .logo img
    {
        width: 185px;
    }



    footer .contacts
    {
        width: 100%;
        margin-top: 32px;
    }

    footer .contacts .cols
    {
        display: flex;
    }

    footer .contacts .col
    {
        width: calc(50% - 12px);
    }


    footer .contacts .location br
    {
        display: none;
    }

    footer .contacts .col + .col
    {
        margin-top: 0;
        margin-left: auto;
    }



    /*-----------
        PopUp
    -----------*/
}
