@media print,
(max-width: 1279px)
{
    /*-------------------
        Global styles
    -------------------*/
    html.custom_scroll ::-webkit-scrollbar
    {
        width: 5px;
        height: 5px;
    }



    /*--------------
        Fancybox
    --------------*/
    .fancybox__slide
    {
        padding: 32px;
    }



    /*----------------
        Pagination
    ----------------*/
    .pagination
    {
        margin-top: 40px;
        padding: 0;
    }



    /*------------
        Header
    ------------*/
    header .info
    {
        padding: 20px 0;
    }


    header .phone,
    header .email,
    header .location
    {
        margin-left: 40px;
        padding-left: 30px;
    }



    header .bottom
    {
        padding: 12px 0;
    }


    header .order_btn
    {
        margin-right: 0;
        padding: 8px 30px 9px;
    }



    /*---------------
        Page head
    ---------------*/
    .page_head
    {
        margin-bottom: -36px;
        padding-top: 172px;
        padding-bottom: 172px;
    }


    .page_head .bg
    {
        width: auto;
        height: 100%;
    }


    .page_head .head
    {
        padding: 0;
    }


    .page_title
    {
        width: 656px;
    }


    .page_head .contacts
    {
        margin-top: 60px;
        margin-bottom: 20px;
        padding: 0;
    }


    .page_head .img
    {
        bottom: 166px;
    }



    /*----------------
        Block head
    ----------------*/
    .block_head .title
    {
        font-size: 32px;
        line-height: 38px;
    }


    .block_head .desc
    {
        font-size: 15px;
        line-height: 21px;

        margin-top: 16px;
    }



    /*------------------
        Form elements
    ------------------*/



    /*----------------
        Typography
    ----------------*/
    .text_block
    {
        font-size: 15px;
        line-height: 21px;
    }


    .text_block .columns
    {
        column-gap: 100px;
    }


    .text_block figcaption
    {
        margin-top: 12px;
    }



    /*-------------------
        First section
    -------------------*/
    .first_section
    {
        margin-bottom: 0;
        padding-top: 188px;
        padding-bottom: 188px;
    }


    .first_section .img
    {
        bottom: 192px;
    }


    .first_section .info
    {
        margin-left: 24px;
    }


    .first_section .text_block
    {
        margin-top: 32px;
    }



    /*---------
        Why
    ---------*/
    .why
    {
        margin-bottom: 80px;
    }


    .why .row + .row
    {
        margin-top: 80px;
    }


    .why .data
    {
        align-self: center;
    }


    .why .data .link
    {
        width: 200px;
        margin-top: 32px;
    }


    .why .image1
    {
        width: 320px;
        margin-left: 48px;
    }

    .why .image2
    {
        position: relative;
        top: -20px;

        width: 320px;
        margin-right: 48px;
    }


    .why .data1
    {
        width: calc(100% - 496px);
        margin-right: 48px;
    }

    .why .data2
    {
        width: calc(100% - 496px);
        margin-left: 24px;
        padding-top: 64px;
    }


    .why .row .bg
    {
        height: 624px;
        margin-top: -12px;
    }



    /*------------
        Result
    ------------*/
    .result
    {
        margin-bottom: 72px;
    }


    .result .item
    {
        padding: 32px;
    }


    .result .item .thumb
    {
        height: 140px;
        margin-bottom: 32px;
    }


    .result .order .btn
    {
        margin-top: 20px;
        padding: 8px 28px;
    }



    /*----------------
        Advantages
    ----------------*/
    .advantages
    {
        margin-bottom: 76px;
    }


    .advantages .items
    {
        margin-top: 52px;
    }

    .advantages .item
    {
        font-size: 15px;
        line-height: 21px;
    }



    /*------------
        Prices
    ------------*/
    .prices
    {
        margin-bottom: 80px;
    }


    .prices .image
    {
        margin-left: 0;
    }


    .prices .data
    {
        margin-right: 0;
    }


    .prices table td
    {
        font-size: 15px;
        line-height: 21px;

        padding: 8px 16px;
    }

    .prices table th .icon,
    .prices table td .icon
    {
        width: 22px;
        height: 22px;
    }



    /*-------------
        Reviews
    -------------*/
    .reviews
    {
        padding-bottom: 136px;
    }


    .reviews::before
    {
        height: calc(100% + 112px);

        clip-path: polygon(0 15%, 100% 0, 100% 100%, 0% 100%);
    }


    .reviews .img
    {
        right: -80px;

        margin-right: 0;
    }


    .reviews .swiper-container
    {
        padding: 0 40px;
    }

    .reviews .swiper-button-prev
    {
        left: 0;
    }

    .reviews .swiper-button-next
    {
        right: 0;
    }


    .reviews .data
    {
        padding: 24px;
    }


    .reviews .author
    {
        font-size: 14px;
        line-height: 22px;

        margin-top: 24px;
    }


    .reviews .text,
    .reviews .link
    {
        font-size: 14px;
        line-height: 22px;
    }


    .reviews .all_link
    {
        padding-top: 44px;
    }

    .reviews .all_link a
    {
        width: 200px;
        padding: 8px 24px;
    }



    /*--------------
        Services
    --------------*/
    .services .row
    {
        margin-bottom: -24px;
        margin-left: -24px;
        padding: 0;
    }

    .services .row > *
    {
        width: calc(50% - 24px);
        margin-bottom: 24px;
        margin-left: 24px;
    }


    .services .service
    {
        padding: 24px;
    }


    .services .service .info
    {
        width: calc(100% - 192px);
    }


    .services .service .price
    {
        margin-left: 16px;
    }

    .services .service .time .icon,
    .services .service .price .icon
    {
        width: 20px;
        height: 20px;
    }


    .services .service .link
    {
        margin-top: 24px;
    }


    .services .service .thumb
    {
        width: 192px;
    }

    .services .service .thumb img
    {
        max-height: 160px;
    }



    /*-----------------
        Quote block
    -----------------*/
    .quote_block
    {
        min-height: 564px;
        margin-bottom: 24px;
        padding: 100px 0;
    }

    .order_form + .quote_block
    {
        margin-top: -212px;
    }


    .quote_block.min_h
    {
        min-height: 500px;
    }



    /*------------------
        Service info
    ------------------*/
    .service_info
    {
        padding-top: 32px;
        padding-bottom: 40px;
    }


    .service_info .info .time .icon,
    .service_info .info .price .icon
    {
        width: 22px;
        height: 22px;
    }


    .service_info .section
    {
        margin-top: 60px;
        padding: 0;
    }

    .service_info .section .title
    {
        margin-bottom: 32px;
    }

    .service_info .section .name
    {
        font-size: 16px;
        line-height: 22px;
    }



    /*-------------------
        Contacts info
    -------------------*/
    .contacts_info
    {
        margin-bottom: 64px;
        padding-top: 32px;
        padding-bottom: 0;
    }


    .contacts_info .row
    {
        margin-bottom: -32px;
        margin-left: -24px;
        padding: 20px 0 0;

        justify-content: space-between;
    }


    .contacts_info .item
    {
        width: calc(33.333% - 24px);
        margin-bottom: 32px;
        margin-left: 24px;
        padding-left: 36px;
    }

    .contacts_info .item .icon
    {
        left: 0;
    }

    .contacts_info .item .desc
    {
        margin-top: 20px;
    }



    /*----------------
        Order form
    ----------------*/
    .order_form
    {
        overflow: hidden;

        padding: 64px 0 164px;
    }


    .order_form .block_head
    {
        margin-bottom: 24px;
        margin-left: 0;
    }


    .order_form .form
    {
        margin-left: 0;
    }



    /*--------------
        Map wrap
    --------------*/
    .map_wrap
    {
        height: 640px;
        margin-top: -190px;
    }



    /*--------------
        Articles
    --------------*/
    .articles
    {
        margin-bottom: 80px;
    }


    .articles .title
    {
        margin-bottom: 24px;
        padding: 0;
    }


    .articles .head
    {
        margin-bottom: 24px;
        padding: 32px 0 0;
    }

    .articles .head .links
    {
        margin-left: -32px;
    }

    .articles .head .links > *
    {
        margin-left: 32px;
    }

    .articles .head .links br
    {
        display: none;
    }


    .articles .grid
    {
        margin-bottom: -24px;
        margin-left: -24px;
        padding: 0;
    }

    .articles .grid > *
    {
        width: calc(33.333% - 24px);
        margin-bottom: 24px;
        margin-left: 24px;
    }

    .articles .grid > *.big
    {
        width: calc(66.666% - 24px);
    }

    .articles .grid + .row
    {
        margin-top: 24px;
    }


    .articles .article .thumb
    {
        padding-bottom: 280px;
    }

    .articles .article .thumb.big_h
    {
        padding-bottom: 584px;
    }


    .articles .row
    {
        margin-bottom: -24px;
        margin-left: -24px;
        padding: 0;
    }

    .articles .row > *
    {
        width: calc(33.333% - 24px);
        margin-bottom: 24px;
        margin-left: 24px;
    }


    .articles .article .info
    {
        padding: 20px 0 0;
    }

    .articles .article .name
    {
        font-size: 28px;
        line-height: 40px;
    }

    .articles .article .tags
    {
        margin-top: 10px;
    }



    .articles .grid .name
    {
        padding: 24px;
    }

    .articles .grid .tags
    {
        margin: 0;
        padding: 24px;
    }



    /*------------------
        Article info
    ------------------*/
    .article_info
    {
        margin-bottom: 52px;
    }


    .article_info .text_block
    {
        padding: 0;
    }



    /*-----------
        Share
    -----------*/
    .share
    {
        margin-bottom: 52px;
    }


    .share .title
    {
        padding: 0;
    }


    .share .items
    {
        margin: 0;
        padding-bottom: 19px;
    }

    .share .items a + a
    {
        margin-left: 24px;
    }



    /*----------------
        About head
    ----------------*/
    .about_head
    {
        margin-bottom: 0;
        padding-top: 188px;
        padding-bottom: 188px;
    }


    .about_head .head
    {
        padding: 0;
    }


    .about_head .info
    {
        width: 380px;
        margin-top: 52px;
        padding: 0;
    }


    .about_head .desc
    {
        font-size: 15px;
        line-height: 21px;
    }


    .about_head .item
    {
        margin-top: 32px;
    }

    .about_head .item .desc
    {
        margin-top: 8px;
    }


    .about_head .img
    {
        bottom: 155px;
    }



    /*---------------
        Education
    ---------------*/
    .education
    {
        margin-bottom: 60px;
    }


    .education .block_title
    {
        font-size: 23px;
        line-height: 26px;

        margin-bottom: 40px;
        padding: 0;
    }


    .education .cols
    {
        padding: 0;
    }

    .education .cols .col,
    .education .cols .col + .col
    {
        width: calc(50% - 24px);
    }


    .education .item
    {
        font-size: 15px;
        line-height: 21px;

        padding-left: 48px;
    }

    .education .item:before
    {
        left: 0;
    }

    .education .item:after
    {
        left: 4px;
    }



    /*-----------
        Certs
    -----------*/
    .certs
    {
        margin-bottom: 24px;
    }


    .certs .swiper-container
    {
        padding: 0 48px;
    }

    .certs .swiper-button-prev
    {
        left: 0;
    }

    .certs .swiper-button-next
    {
        right: 0;
    }



    /*-----------
        Stats
    -----------*/
    .stats
    {
        margin-bottom: 12px;
        padding: 180px 0;
    }


    .stats .bg
    {
        width: 1700px;
        height: auto;
    }


    .stats .row
    {
        padding: 0;
    }



    /*-------------
        Clients
    -------------*/
    .clients
    {
        margin-bottom: 64px;
    }


    .clients .block_head
    {
        margin-bottom: 48px;
    }


    .clients .text_block
    {
        padding: 0;
    }

    .clients .text_block .cols .col br
    {
        display: none;
    }



    /*-------------
        Methods
    -------------*/
    .methods .row
    {
        padding: 0;
    }



    /*--------------------
        Important know
    --------------------*/
    .important_know
    {
        padding-top: 20px;
    }


    .important_know .text_block
    {
        padding: 0;
    }



    /*------------
        Footer
    ------------*/
    footer
    {
        margin-top: 80px;
        padding-bottom: 40px;
    }



    footer .action
    {
        width: 700px;
        margin: -80px auto 40px;
        padding: 40px 80px;
    }


    footer .action .btn
    {
        padding: 8px 30px 10px;
    }



    footer .col_left
    {
        margin-left: 0;
    }



    footer .cont .title
    {
        margin-bottom: 20px;
    }


    footer .links .items > * + *
    {
        margin-top: 12px;
    }



    footer .contacts
    {
        margin-right: 0;
    }

    footer .contacts .col + .col
    {
        margin-left: 24px;
    }


    footer .contacts .email,
    footer .contacts .skype,
    footer .contacts .phone,
    footer .contacts .location,
    footer .contacts .time
    {
        min-height: 20px;
        padding-left: 30px;
    }

    footer .contacts .email .icon,
    footer .contacts .skype .icon,
    footer .contacts .phone .icon,
    footer .contacts .location .icon,
    footer .contacts .time .icon
    {
        width: 20px;
        height: 20px;
    }



    /*-----------
        PopUp
    -----------*/
}
