@media print,
(max-width: 1023px)
{
    /*-------------------
        Global styles
    -------------------*/



    /*--------------
        Fancybox
    --------------*/
    .fancybox__slide
    {
        padding: 24px;
    }



    /*------------
        Header
    ------------*/
    header
    {
        position: fixed;
        z-index: 101;
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;
        min-height: -moz-available;
        min-height: -webkit-fill-available;
        min-height:         fill-available;
        margin: 0;

        transition: transform .3s linear;
        transform: translateX(-100%);

        background: #fff;
    }

    header.show
    {
        transform: translateX(0);
    }


    header .mob_scroll
    {
        display: flex;
        overflow: auto;

        height: 100%;
        min-height: -moz-available;
        min-height: -webkit-fill-available;
        min-height:         fill-available;
        padding: 0;

        justify-content: center;
        align-items: center;
        align-content: center;
        flex-wrap: wrap;
        overscroll-behavior-y: contain;
    }

    header .mob_scroll > *
    {
        width: 100%;
    }


    header .info
    {
        display: none;
    }


    header .bottom
    {
        padding: 0;

        background: none;
    }


    header .logo
    {
        display: none;
    }


    header .phone,
    header .email,
    header .location
    {
        width: 100%;
        margin-left: 0;
    }

    header .email,
    header .location
    {
        margin-top: 16px;
    }



    header .mob_socials
    {
        display: flex;
    }



    header .menu
    {
        display: block;

        width: 100%;
    }

    header .menu .item + .item
    {
        margin-top: 43px;
        margin-left: 0;
    }

    header .menu .item > a
    {
        color: #9893a3;
        font-family: var(--font_family);
        font-size: 20px;
        font-weight: 900;
        line-height: 24px;

        position: relative;

        text-align: center;
    }

    header .menu .item > a:after
    {
        position: absolute;
        right: 0;
        bottom: -13px;
        left: 0;

        width: 0;
        height: 4px;
        margin: auto;

        content: '';
        transition: width .3s linear;
        pointer-events: none;

        background: #3c8f5d;
    }

    header .menu .item > a:hover:after,
    header .menu .item > a.active:after
    {
        width: 60px;
    }


    header .menu .item .sub_menu,
    header .menu .item:hover .sub_menu
    {
        position: relative;

        display: none;
        visibility: hidden;

        width: 100%;
        margin-top: 24px;
        padding: 24px;

        text-align: center;
    }

    header .menu .item > a.touch_link + .sub_menu.show
    {
        display: block;
        visibility: visible;
    }


    header .menu .sub_menu > * + *
    {
        margin-top: 16px;
    }

    header .menu .sub_menu a
    {
        font-size: 18px;
        line-height: 22px;
    }


    header .order_btn
    {
        font-size: 20px;
        line-height: 26px;

        height: 49px;
        margin: 56px auto 0;
    }



    /*-----------------
        Mob. header
    -----------------*/
    .mob_header
    {
        display: block;
    }



    /*---------------
        Page head
    ---------------*/
    .page_head
    {
        margin-bottom: 0;
        padding-top: 112px;
        padding-bottom: 140px;
    }

    .page_head.big_pad
    {
        padding-bottom: 144px;
    }


    .page_head .bg
    {
        width: 1024px;
        height: 330px;
    }

    .page_head .bg2
    {
        width: auto;
        height: 100%;
    }


    .page_title
    {
        width: 656px;
        margin-bottom: 12px;
    }


    .page_head .contacts
    {
        margin-top: 52px;
        margin-bottom: 24px;
        padding: 0;
    }


    .page_head .img
    {
        right: -436px;
        bottom: 124px;

        width: 800px;
        height: 402px;
        margin-right: 0;
    }



    /*----------------
        Block head
    ----------------*/
    .block_head .desc
    {
        font-size: 16px;
        line-height: 22px;

        margin-top: 18px;
    }



    /*------------------
        Form elements
    ------------------*/
    .form .columns
    {
        margin-bottom: 16px;

        --form_columns_offset: 24px;
    }


    .form .notice
    {
        padding-top: 8px;
    }

    .form .notice .text
    {
        font-size: 13px;

        padding: 8px 12px;
    }


    .form .bottom .agree
    {
        margin-left: 20px;
    }



    /*----------------
        Typography
    ----------------*/
    .text_block
    {
        font-size: 16px;
        line-height: 22px;
    }


    .text_block .columns
    {
        column-gap: 40px;
    }



    /*-------------------
        First section
    -------------------*/
    .first_section
    {
        overflow: hidden;

        margin-bottom: 46px;
        padding-top: 120px;
        padding-bottom: 80px;

        background: rgba(242, 247, 255, .7);

        clip-path: polygon(0 0, 100% 0, 100% calc(100% - 92px), 0% 100%);
        backdrop-filter: blur(100px);
    }


    .first_section .bg
    {
        display: none;
    }


    .first_section .img
    {
        right: -436px;
        bottom: 47px;

        width: 800px;
        height: 402px;
        margin-right: 0;
    }


    .first_section .info
    {
        width: 100%;
        margin-left: 0;
    }


    .first_section .text_block
    {
        width: 432px;
        max-width: 100%;
        margin-top: 28px;
    }



    /*---------
        Why
    ---------*/
    .why
    {
        margin-bottom: 92px;
    }


    .why .row + .row
    {
        margin-top: 80px;
    }


    .why .data .link
    {
        width: 180px;
        margin-top: 28px;
    }


    .why .image1
    {
        width: 280px;
        margin-left: 0;
    }

    .why .image2
    {
        top: 0;

        width: 280px;
        margin-right: 0;
    }


    .why .data1
    {
        width: calc(100% - 320px);
        margin-right: 0;
    }

    .why .data2
    {
        width: calc(100% - 320px);
        margin-left: 0;
        padding-top: 52px;
    }


    .why .row .bg
    {
        height: 780px;
        margin-top: -8px;
    }



    /*------------
        Result
    ------------*/
    .result .row
    {
        width: calc(100% + 48px);
        margin-right: -24px;
        margin-left: -24px;
        padding: 0;
    }

    .result .row > *
    {
        width: 33.333%;
    }

    .result .item:nth-child(2),
    .result .item:nth-child(2n+5),
    .result .item:nth-child(4)
    {
        background: #64bc62;
    }

    .result .item:nth-child(2n)
    {
        background: #3c8f5d;
    }


    .result .item
    {
        padding: 24px;
    }


    .result .item .thumb
    {
        height: 124px;
        margin-bottom: 24px;
    }


    .result .order
    {
        width: 66.666%;
    }



    /*----------------
        Advantages
    ----------------*/
    .advantages
    {
        margin-bottom: 64px;
    }


    .advantages .items
    {
        margin-top: 0;
    }

    .advantages .items:before
    {
        right: auto;
        left: 0;
    }



    .advantages .item
    {
        font-size: 16px;
        line-height: 22px;
    }

    .advantages .item + .item
    {
        margin-top: 40px;
    }

    .advantages .item > *,
    .advantages .item:nth-child(2n) > *
    {
        width: 100%;
        padding-right: 0;
        padding-left: 100px;

        text-align: left;
    }

    .advantages .item > *:after
    {
        right: auto;
        left: 22px;
    }

    .advantages .item > *:before
    {
        right: auto;
        left: 13px;
    }


    .advantages .item br
    {
        display: none;
    }



    /*------------
        Prices
    ------------*/
    .prices
    {
        margin-bottom: 124px;
    }


    .prices .image
    {
        margin-right: auto;
        margin-bottom: 24px;
        margin-left: auto;
        padding-top: 16px;
    }


    .prices .data
    {
        width: 100%;
        padding-top: 0;

        order: 2;
    }



    /*-------------
        Reviews
    -------------*/
    .reviews
    {
        padding-top: 0;
        padding-bottom: 124px;
    }


    .reviews::before
    {
        height: calc(100% + 112px);
    }


    .reviews .text,
    .reviews .link
    {
        font-size: 15px;
        line-height: 21px;
    }


    .reviews .all_link
    {
        padding-top: 40px;
    }

    .reviews .all_link a
    {
        width: 180px;
    }



    /*--------------
        Services
    --------------*/
    .services .row
    {
        margin-left: 0;

        justify-content: center;
    }

    .services .row > *
    {
        width: 580px;
        max-width: 100%;
        margin-left: 0;
    }


    .services .service
    {
        background: #fff;
        box-shadow: 0 10px 20px rgba(41, 41, 42, .12);
    }



    /*-----------------
        Quote block
    -----------------*/
    .quote_block
    {
        min-height: 452px;
        margin-top: 32px;
        padding: 80px 0;
    }

    .order_form + .quote_block
    {
        margin-top: -172px;
    }


    .quote_block .data.margin
    {
        margin-bottom: 12px;
    }


    .quote_block .data > * + *
    {
        margin-top: 28px;
    }


    .quote_block .bg
    {
        height: 600px;
    }




    /*------------------
        Service info
    ------------------*/
    .service_info
    {
        padding-top: 12px;
        padding-bottom: 0;
    }


    .service_info .section .title
    {
        font-size: 21px;
        line-height: 25px;

        margin-bottom: 24px;
    }


    .service_info .section .col
    {
        width: 100%;
    }

    .service_info .section .col + .col
    {
        margin-top: 52px;
    }


    .service_info .section .name
    {
        font-size: 17px;
        line-height: 22px;

        margin-bottom: 20px;
    }

    .service_info .section .name b
    {
        font-size: 17px;
        line-height: 22px;
    }


    .service_info .bottom
    {
        width: 100%;
        margin-top: 40px;
    }



    /*-------------------
        Contacts info
    -------------------*/
    .contacts_info
    {
        margin-bottom: 60px;
        padding-top: 0;
    }


    .contacts_info .row
    {
        margin-left: 0;
        padding-top: 8px;
    }


    .contacts_info .item
    {
        width: 100%;
        margin-left: 0;
    }

    .contacts_info .item .val
    {
        font-size: 15px;
        line-height: 21px;
    }

    .contacts_info .item .desc
    {
        font-size: 15px;
        line-height: 21px;

        margin-top: 16px;
    }



    /*----------------
        Order form
    ----------------*/
    .order_form
    {
        margin-bottom: -40px;
        padding: 52px 0 160px;
    }


    .order_form .block_head
    {
        margin-bottom: 20px;
    }


    .order_form .form
    {
        width: 468px;
    }


    .order_form .img
    {
        right: -420px;
        bottom: 127px;

        width: 800px;
        height: 389px;
        margin-right: 0;
    }



    /*--------------
        Map wrap
    --------------*/
    .map_wrap
    {
        height: 600px;
        margin-top: -172px;
    }



    /*--------------
        Articles
    --------------*/
    .articles
    {
        margin-bottom: 52px;
    }


    .articles .head
    {
        padding-top: 12px;
    }


    .articles .row
    {
        padding: 0;
    }

    .articles .row > *
    {
        width: calc(50% - 24px);
    }


    .articles .grid > *,
    .articles .grid > *.big
    {
        width: calc(50% - 24px);
    }

    .articles .grid + .row
    {
        margin-top: 24px;
    }


    .articles .grid .article .thumb
    {
        padding-bottom: 320px;
    }

    .articles .grid .article .thumb.big_h
    {
        padding-bottom: 670px;
    }


    .articles .article .name
    {
        font-size: 32px;
    }



    /*----------------
        About head
    ----------------*/
    .about_head
    {
        padding-top: 120px;
        padding-bottom: 152px;
    }


    .about_head .info
    {
        margin-top: 40px;
    }


    .about_head .img
    {
        right: -400px;
        bottom: 125px;

        width: 800px;
        height: 414px;
        margin-right: 0;
    }



    /*---------------
        Education
    ---------------*/
    .education .block_title
    {
        margin-bottom: 28px;
    }


    .education .cols
    {
        display: block;
    }

    .education .cols .col,
    .education .cols .col + .col
    {
        width: 100%;
    }

    .education .item + .item,
    .education .cols .col + .col
    {
        margin-top: 24px;
    }


    .education .item
    {
        font-size: 16px;
        line-height: 22px;
    }



    /*-----------
        Stats
    -----------*/
    .stats
    {
        padding: 144px 0;
    }


    .stats .bg
    {
        width: 1600px;
    }


    .stats .row
    {
        padding: 0;
    }


    .stats .item
    {
        font-size: 21px;
        line-height: 27px;
    }



    /*-------------
        Clients
    -------------*/
    .clients .block_head
    {
        margin-bottom: 40px;
    }



    /*------------
        Footer
    ------------*/
    footer
    {
        margin-top: 60px;
    }


    footer .action
    {
        width: 600px;
        margin-top: -60px;
        padding: 32px 48px;
    }


    footer .action .btn
    {
        padding: 8px 24px 10px;
    }



    footer .links .items
    {
        width: auto;

        column-gap: 0;
        column-count: 1;
    }

    footer .links .items > * + *
    {
        margin-top: 8px;
    }



    footer .contacts .cols
    {
        display: block;
    }

    footer .contacts .col + .col,
    footer .contacts .skype,
    footer .contacts .phone,
    footer .contacts .time
    {
        margin-top: 12px;
        margin-left: 0;
    }



    /*-----------
        PopUp
    -----------*/
}
